# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers d'environnement
.env
.env.development
api/.env
api/.env.development
data/

# Ignorer les fichiers de build
build/

# Ignorer les fichiers de dépendances Docker
**/node_modules
!.dockerignore
!Dockerfile
